<header class="header">
  <h1 class="header__title">Mini Messageboard</h1>
  <nav>
    <ul class="header__links">
      <li class="header__link">
        <a href="/">Home</a>
      </li>
      <li class="header__link">
        <a href="/new">New Message</a>
      </li>
    </ul>
  </nav>
</header>