<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('components/Header') %>
    <section>
      <h1 class="new-message__title">New Message</h1>
      <form class="new-message__form" method="POST" action="/new">
        <div class="input-container">
          <label for="name">Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter your name"
            required
          />
        </div>

        <div class="input-container">
          <label for="message">Message:</label>
          <textarea
            name="message"
            id="message"
            rows="10"
            placeholder="Enter your message"
            required
          ></textarea>
        </div>

        <button class="new-message__btn" type="submit">Submit</button>
      </form>
    </section>
    <%- include('components/Footer') %>
  </body>
</html>
