<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Messageboard</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <section>
      <h1 class="messages__title">Messages</h1>
      <div class="messages__container">
        <% for (let i = 0; i < messages.length; i++) { %> <%-
        include('./partials/message-card.ejs', { message: messages[i] }) %> <% }
        %>
      </div>
    </section>
    <a class="new-message__btn" href="/new">New message</a>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
