<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('components/Header') %>
    <section>
      <h1 class="messages__title">Messages</h1>
      <div class="messages__container">
        <% for (let i = 0; i < messages.length; i++) { %> <%-
        include('components/MessageCard.ejs', { message: messages[i] }) %> <% }
        %>
      </div>
    </section>
    <%- include('components/Footer') %>
  </body>
</html>
