@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #fafafa;
  --secondary-color: #1f1f1f;
  --tertiary-color: #f5f5f5;
  --gray: #d4d4d4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.header__title {
  font-size: 3rem;
  font-weight: bold;
}

.header__title a {
  color: inherit;
  text-decoration: none;
}

.header__links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.6rem;
}

.header__link a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  border-radius: 0.8rem;
  transition:
    background-color 0.1s ease-out,
    color 0.1s ease-out;
}

.header__link a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* HOMEPAGE */
.messages__title,
.new-message__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.messages__container {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  box-shadow: inset 0 2px 4px rgb(0 0 0 / 0.05);
  background-color: var(--tertiary-color);
  border-radius: 0.8rem;
}

/* MESSAGE CARD */
.message__card {
  max-width: 50rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  padding: 1.5rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.1s ease-out;
}

.message__card:hover {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.message__card-title {
  margin-bottom: 0.6rem;
}

.message__card-text {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}

.message__card-date {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.message__card-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: transform 0.1s ease-out;
}

.message__card-btn:hover {
  transform: scale(1.02);
}

/* NEW MESSAGE FORM */
.new-message__form {
  width: 50rem;
  border: 1px solid var(--gray);
  padding: 2rem;
  border-radius: 0.8rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.input-container {
  width: 100%;
}

.input-container label {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.input-container textarea,
.input-container input {
  font-family: inherit;
  font-size: 1.5rem;
  width: 100%;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: var(--gray);
}

.input-container textarea {
  resize: none;
}

.input-container textarea::placeholder,
.input-container input::placeholder {
  font-family: inherit;
  color: var(--secondary-color);
}

.input-container input:focus,
.input-container textarea:focus {
  outline: 1.5px solid var(--secondary-color);
}

.new-message__btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 1.5rem 0;
  border: none;
  border-radius: 0.8rem;
}

.new-message__btn:hover {
  cursor: pointer;
}

/* INFO CARD */
.info__container {
  border: 1px solid var(--gray);
  border-radius: 0.8rem;
  padding: 2.5rem;
  margin: 2rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.info__title {
  font-size: 3rem;
  letter-spacing: 0.06rem;
}

.info__text {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.info__date {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.info__btn {
  text-decoration: none;
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
}

/* FOOTER */
.footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.4rem;
}
