@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #fafafa;
  --secondary-color: #1f1f1f;
  --tertiary-color: #f5f5f5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.header__title {
  font-size: 3rem;
  font-weight: bold;
}

.header__links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.6rem;
}

.header__link a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  border-radius: 0.8rem;
  transition:
    background-color 0.1s ease-out,
    color 0.1s ease-out;
}

.header__link a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.messages__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.messages__container {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  box-shadow: inset 0 2px 4px rgb(0 0 0 / 0.05);
  background-color: var(--tertiary-color);
  border-radius: 0.8rem;
}

.message__card {
  max-width: 50rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  padding: 1.5rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.1s ease-out;
}

.message__card:hover {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.message__card-title {
  margin-bottom: 0.6rem;
}

.message__card-text {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.message__card-date {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

.message__card-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: transform 0.1s ease-out;
}

.message__card-btn:hover {
  transform: scale(1.02);
}

.footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.4rem;
}
